html {
  height: 200px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #3078b4, #42dff4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #3078b4, #42dff4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #3078b4, #42dff4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #3078b4, #42dff4); /* Standard syntax (must be last) */
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
}

header {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
}

nav {
	font-family; Georgia, "Times New Roman", serif;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	margin-top: 2em;
  margin-left: 1em;
}

#nav {
	border: 2px solid;
	padding: 5px 10px;
	background-color: #9D9D93;
	border-radius: 2em;
	box-shadow: 3px 3px 3px #686e77;
}

/* unvisited link */
a:link {
    color: #121035;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: skyblue;
}

/* selected link */
a:active {
    color: #FFFFFF;
}

hr {
  width: 70em;
  opacity: 0.2;
  margin-top: 3em;
}

#Logo {
  float: right;
  position: relative;
  margin-top: 3em;
  margin-right: 5em;
  width: 30em;
  height: 6em;
}

#content {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  position: relative;
  height: 880px;
}

#Submit {
  float: right;
  margin-right: 3em;
}

fieldset {
  color: black;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #42dff4, #3078b4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #42dff4, #3078b4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #42dff4, #3078b4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #42dff4, #3078b4); /* Standard syntax (must be last) */
  /*background-color: #42dff4;*/
  border: 1px groove #464547;
}

legend {
  color: black;
  font-size: 18pt;
  font-weight: bold;
  text-shadow: -2px 1px 2px #FFFFFF;
}

#hours {
  color: black;
  font-weight: bold;
}

#phone {
  color: black;
  font-weight: bold;
}

#iphone {
  height: 150px;
  width: 250px;
  margin-top: 25px;
  margin-left: 2em;
}

footer {
  color: #FFFFFF;
  height: 10em;
  background-color: #001a33;
}
